body {
  color: white; /cor do texto/
  background: black; /cor do fundo da página/
  margin: 0px; /zera o espaço próximo a margem da página/
  font-family: "Chakra Petch", sans-serif; /altera a fonte do texto/
  margin-bottom: 100px; /define a margem dos itens para baixo/
}

header {
  border-bottom: solid 2px rgb(42, 122, 228); /cria uma linha azul abaixo do cabeçalho/
  padding: 20px; /espaçamento interno/
  font-size: 32px; /tamanho do texto do cabeçalho/
  color: rgb(42,122, 228); /cor azul para o texto do cabeçalho/
}

.chamada {
  background: rgb(184, 156, 213); /cor de fundo lilás da seção de chamada/
  padding-bottom: 80px; /espaço inferior interno/
  padding-top: 80px; /espaço superior interno/
  display: flex; /usa layout flexível para os filhos/
  justify-content: center; /centraliza horizontalmente os elementos filhos/
}

.chamada-texto {
  margin-right: 5%; /espaço à direita para separar do vídeo/
}

h1 {
  font-size: 40px; /tamanho da fonte do título principal/
}

p {
  font-size: 20px; /tamanho da fonte dos parágrafos/
}

.categoria-videos{
  display: flex;          /* Coloca os vídeos lado a lado */
  overflow: auto;         /* Adiciona scroll se precisar */
  gap: 10px;              /* Espaço entre os vídeos */
}


.categoria{
  padding-left: 20px;     /* Espaço na esquerda */
  padding-right: 20px;    /* Espaço na direita */
  margin-top: 50px;       /* Espaço em cima */
}

.categoria-videos img{
  opacity: 0.5;           /* Deixa imagem meio transparente */
  height: 200px;          /* Altura fixa das imagens */
}

.categorias-videos img:houver{
  opacity: 1.0;           /* Imagem fica totalmente visível */
  border: 3px solid green; /* Borda verde aparece */
}

.categoria h2{
  color:  rgb(42, 122, 228); /* Cor azul para o título */
}
